* {
    background-color: rgb(202, 169, 129);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1, h3 {
    text-align: center;
}

h3 {
    font-size: 25px;
    background-color: brown;
    color: rgb(202, 169, 129);
}

a {
    color: brown;
    display: block;
}

.centered {
    text-align: center;
}

p {
    margin: 20px;
    display: block;
}

li, p, a {
    font-size: 22px;
    
}

ul {
    margin: 5px 50px;
}

img {
    margin: 0 auto;
    width: 400px;
    height: auto;
    border: 4px solid brown;
    display: block;
}

#homelinks {
    margin: 0 auto;
    border: 2px solid brown;
    box-sizing: border-box;
    width: 40em;
}